html {
  --primary-color: #ef5da8;
  --primary-color-light: #fdeef6;
  --primary-color-dark: #170910;
  --secondary-color: #5d5fef;
  --secondary-color-light: #eeeffd;
  --secondary-color-dark: #090917;
  --tertiary-color: #7a7a7a;
  --tertiary-color-light: #f1f1f1;
  --tertiary-color-dark: #0c0c0c;
  --call-to-action: #ef5d5f;
  --regular-text: #3d3d3d;
  --bg-color: #fcfbfb; }

html[data-theme="dark"] {
  --primary-color: #ef5da8;
  --primary-color-light: #fdeef6;
  --primary-color-dark: #170910;
  --secondary-color: #5d5fef;
  --secondary-color-light: #eeeffd;
  --secondary-color-dark: #090917;
  --tertiary-color: #7a7a7a;
  --tertiary-color-light: #f1f1f1;
  --call-to-action: #ef5d5f;
  --tertiary-color-dark: #dedffb;
  --regular-text: #f1f1f1;
  --bg-color: #090917; }

@keyframes scrollDown {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0; }
  50% {
    transform: translate(-50%, 350%);
    opacity: 1; }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0; } }

* {
  box-sizing: border-box; }

html {
  background-color: var(--bg-color); }

img {
  max-width: 100%; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

/*missing alt attribute*/
img:not([alt]) {
  outline: 5px dashed red;
  outline-offset: 5px; }

/*empty alt attribute*/
img[alt=""] {
  outline: 5px solid blue;
  outline-offset: 15px; }

main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(0.5rem, 40vh, 15rem); }

html {
  font-size: 62.5%; }

body {
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  font-family: "Open Sans", sans-serif;
  color: var(--regular-text); }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.abilities {
  margin-bottom: 16rem; }
  .abilities-content {
    width: 100%; }
    .abilities-content .content-title {
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-size: clamp(1.8rem, 4vw, 3.3rem);
      line-height: 3.5rem;
      color: var(--tertiary-color-dark);
      letter-spacing: 0.02em; }
      .abilities-content .content-title span {
        color: var(--call-to-action); }
    .abilities-content .content-heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: clamp(1.6rem, 4vw, 2.3rem);
      line-height: 28px;
      color: var(--tertiary-color-dark);
      letter-spacing: 0.03em;
      margin-bottom: 1rem; }
    .abilities-content .content-para {
      line-height: 3rem;
      letter-spacing: 0.02em; }

.about {
  width: 100%;
  margin-bottom: 17rem; }
  .about-title {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(2rem, 4vw, 4.8rem);
    line-height: 40px;
    color: var(--tertiary-color-dark);
    letter-spacing: 0.02em;
    font-weight: 600;
    text-align: right;
    margin-bottom: 1rem; }
  .about-subtitle {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1.8rem, 4vw, 3.3rem);
    line-height: 3.5rem;
    color: var(--tertiary-color-dark);
    letter-spacing: 0.02em; }
    .about-subtitle span {
      color: var(--call-to-action); }
  .about-subheading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: clamp(1.6rem, 4vw, 2.3rem);
    line-height: 28px;
    color: var(--tertiary-color-dark);
    letter-spacing: 0.03em; }
  .about-content {
    width: 767px;
    height: 480px;
    margin: 2rem auto;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative; }
    .about-content .content-graph {
      width: 143px;
      height: 143px;
      background: linear-gradient(#e85f64, #0a99f8);
      border-radius: 50%;
      position: relative; }
      .about-content .content-graph .graph-inner {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 8;
        text-align: right; }
      .about-content .content-graph .graph-percentage-icon {
        position: absolute;
        top: 30%;
        left: 70%;
        font-size: 1.9rem;
        font-weight: bold;
        z-index: 10; }
      .about-content .content-graph::before {
        content: "";
        background-color: black;
        width: 1px;
        height: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 222%);
        z-index: 9; }
      .about-content .content-graph::after {
        content: "";
        position: absolute;
        width: 722px;
        height: 1px;
        background-color: black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 7; }
    .about-content .content-bars {
      position: absolute;
      width: 767px;
      height: 72px;
      z-index: -1; }
      .about-content .content-bars .bars-image {
        position: absolute;
        top: -178px;
        left: 32px;
        z-index: 9; }
        .about-content .content-bars .bars-image:nth-child(2) {
          top: -244px;
          left: 141px; }
        .about-content .content-bars .bars-image:nth-child(3) {
          top: -249px;
          left: 261px; }
        .about-content .content-bars .bars-image:nth-child(4) {
          top: -381px;
          left: 383px; }
        .about-content .content-bars .bars-image:nth-child(5) {
          top: -187px;
          left: 384px; }
        .about-content .content-bars .bars-image:nth-child(6) {
          top: -161px;
          left: 384px; }

.odometro-hero {
  margin: 0 auto;
  position: relative;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.8rem, 4vw, 3.3rem);
  line-height: 3.5rem;
  color: var(--tertiary-color-dark);
  letter-spacing: 0.02em;
  margin-bottom: 5rem;
  font-size: 2.8rem;
  width: max-content; }
  .odometro-hero span {
    color: var(--call-to-action); }
  .odometro-hero::before {
    content: " 0110100";
    position: absolute;
    top: 0;
    left: -80px;
    color: #878787;
    font-size: 1.6rem;
    font-weight: 500; }
  .odometro-hero::after {
    content: " 0101001";
    position: absolute;
    top: 0;
    right: -80px;
    color: #878787;
    font-size: 1.6rem;
    font-weight: 500; }

.odometro-content {
  width: 530px;
  margin: 0 auto; }
  .odometro-content .content-top {
    margin: 0 auto 7rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .odometro-content .content-top .top-section {
      display: flex;
      flex-direction: column; }
      .odometro-content .content-top .top-section span {
        font-size: 1.2rem; }
      .odometro-content .content-top .top-section .digit {
        color: #5d5fef;
        font-weight: 500;
        font-size: 3.4rem;
        line-height: 4.1rem; }
    .odometro-content .content-top .section-hours .year {
      position: relative; }
      .odometro-content .content-top .section-hours .year::after {
        content: "2022";
        position: absolute;
        top: -70px;
        font-weight: bold;
        left: 0; }
  .odometro-content .scroll-slides {
    width: 380px;
    margin: 0 auto;
    height: 60px;
    font-size: 1.2rem; }
    .odometro-content .scroll-slides .slides-progress {
      width: 380px;
      height: 6px;
      background-color: gray;
      display: flex; }
      .odometro-content .scroll-slides .slides-progress .progress-element {
        flex: 1; }
      .odometro-content .scroll-slides .slides-progress .progress-element.active {
        background-color: red; }
    .odometro-content .scroll-slides .slides-boxes {
      width: 100%; }
      .odometro-content .scroll-slides .slides-boxes .boxes-box {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ef5da8; }
        .odometro-content .scroll-slides .slides-boxes .boxes-box img {
          margin-left: 2rem; }
      .odometro-content .scroll-slides .slides-boxes .boxes-teacher {
        margin-top: 2rem;
        margin-left: 4rem; }

.hr {
  width: 816px;
  border-top: 1px solid black;
  height: 5px;
  display: block;
  margin: 13rem auto;
  position: relative; }
  .hr__img {
    position: absolute;
    left: 0;
    top: -42px; }
  .hr::after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    position: absolute;
    height: 2.7rem;
    width: 1px;
    background-color: black; }

.footer {
  max-width: 1600px;
  width: 100%;
  padding: 6.5rem 0;
  margin: 16rem auto 0 auto;
  background-color: #eeeffd4d;
  font-family: "Montserrat", sans-serif; }
  .footer__content {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer__content--info {
      font-size: 1.4rem; }
      .footer__content--info__list {
        display: flex;
        margin-bottom: 2rem; }
        .footer__content--info__list--item__link {
          font-weight: 600;
          color: black;
          margin-right: 4.3rem; }
          .footer__content--info__list--item__link:hover {
            color: #4a4cbf; }
      .footer__content--info__para {
        font-weight: 500;
        line-height: 2.2rem;
        width: 434px; }
    .footer__content--contact {
      display: flex;
      align-items: center; }
      .footer__content--contact__graph {
        width: 150px;
        height: 150px;
        margin-right: 3rem;
        position: relative; }
        .footer__content--contact__graph--semi {
          height: 125px;
          width: 60px;
          border: 1px solid #c9a3b5c2;
          position: absolute;
          border-radius: 80px 0 0 80px;
          border-right: 0;
          top: 50%;
          left: 50%;
          transform: translate(-135%, -50%) scale(1.5); }
      .footer__content--contact__info {
        width: 160px; }
        .footer__content--contact__info h5 {
          font-size: 1.4rem;
          font-weight: 600;
          margin-bottom: 1.8rem; }
        .footer__content--contact__info span {
          font-size: 1.3rem; }
  .footer__bottom {
    width: 1300px;
    margin: 8rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem; }
    .footer__bottom span {
      font-weight: bold;
      color: #f20574; }

header {
  background-color: #0c0c0c;
  height: 990px;
  max-height: 100vh;
  width: 160rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative; }
  header .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto; }
    header .hero .scroll-animation {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 392%);
      width: 39.8px;
      height: 76px;
      border: 2px solid var(--bg-color);
      border-radius: 15px; }
      header .hero .scroll-animation::after {
        content: "";
        position: absolute;
        width: 7.24px;
        border-radius: 50%;
        height: 7.24px;
        background-color: var(--bg-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: scrollDown;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite; }

.intro {
  margin: 16rem 0;
  position: relative; }
  .intro-content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; }
    .intro-content .content-container-img {
      display: flex;
      justify-content: space-around;
      width: 428px;
      height: 256px; }
      .intro-content .content-container-img img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%; }
    .intro-content .content-info {
      flex-basis: 50%;
      height: 256px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .intro-content .content-info .title {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: clamp(1.8rem, 4vw, 3.3rem);
        line-height: 3.5rem;
        color: var(--tertiary-color-dark);
        letter-spacing: 0.02em; }
        .intro-content .content-info .title span {
          color: var(--call-to-action); }
      .intro-content .content-info .para {
        font-weight: 600;
        line-height: 2.4rem;
        letter-spacing: 0.01em; }
      .intro-content .content-info .note {
        font-size: 1.3rem;
        line-height: 1.7rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.02em;
        padding-top: 1.4rem;
        border-top: 1px solid rgba(0, 0, 0, 0.5); }
        .intro-content .content-info .note a {
          color: var(--primary-color);
          text-decoration: none; }

.sidebar {
  border-radius: 25px;
  border: 1px solid #f20574;
  display: flex;
  height: 173px;
  justify-content: center;
  margin-left: -54px;
  margin-top: 1030px;
  position: sticky;
  top: 10px;
  width: 53px; }
  .sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .sidebar-list .list-item {
      margin: 0.6rem 0; }
      .sidebar-list .list-item .item-link {
        color: black; }
