html {
  --primary-color: #ef5da8;
  --primary-color-light: #fdeef6;
  --primary-color-dark: #170910;
  --secondary-color: #5d5fef;
  --secondary-color-light: #eeeffd;
  --secondary-color-dark: #090917;
  --tertiary-color: #7a7a7a;
  --tertiary-color-light: #f1f1f1;
  --tertiary-color-dark: #0c0c0c;
  --call-to-action: #ef5d5f;
  --regular-text: #3d3d3d;
  --bg-color: #fcfbfb; }

html[data-theme="dark"] {
  --primary-color: #ef5da8;
  --primary-color-light: #fdeef6;
  --primary-color-dark: #170910;
  --secondary-color: #5d5fef;
  --secondary-color-light: #eeeffd;
  --secondary-color-dark: #090917;
  --tertiary-color: #7a7a7a;
  --tertiary-color-light: #f1f1f1;
  --call-to-action: #ef5d5f;
  --tertiary-color-dark: #dedffb;
  --regular-text: #f1f1f1;
  --bg-color: #090917; }

* {
  box-sizing: border-box; }

html {
  background-color: var(--bg-color); }

img {
  max-width: 100%; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

/*missing alt attribute*/
img:not([alt]) {
  outline: 5px dashed red;
  outline-offset: 5px; }

/*empty alt attribute*/
img[alt=""] {
  outline: 5px solid blue;
  outline-offset: 15px; }

html {
  font-size: 62.5%; }

body {
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  font-family: "Open Sans", sans-serif;
  color: var(--regular-text); }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0; }

.abilities {
  background-color: var(--tertiary-color); }

.about {
  background-color: var(--secondary-color); }

.experience {
  background-color: var(--tertiary-color); }

footer {
  background-color: var(--primary-color); }

header {
  background-color: var(--tertiary-color-dark);
  height: 990px;
  max-height: 100vh;
  width: 160rem;
  max-width: 100%;
  margin: 0 auto; }
  header .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto; }
    header .hero__logo {
      width: 180px; }
    header .hero__menu {
      display: flex;
      width: 100px;
      justify-content: space-around;
      align-items: center; }
      header .hero__menu--hamburguer {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer; }
        header .hero__menu--hamburguer .line {
          background-color: #ffffff;
          height: 3.64px;
          border-radius: 5px; }

.intro__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem; }
  .intro__content--container {
    flex-basis: 50%; }
    .intro__content--container__img {
      object-fit: contain;
      height: 100%;
      width: 100%; }
  .intro__content--info {
    display: flex;
    height: 100%;
    height: 254px;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; }
    .intro__content--info__title {
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-size: clamp(1.8rem, 4vw, 3.3rem);
      line-height: 3.5rem;
      color: var(--tertiary-color-dark);
      letter-spacing: 0.02em; }
    .intro__content--info__para {
      font-weight: 600;
      line-height: 2.4rem;
      letter-spacing: 0.01em; }
    .intro__content--info__note {
      font-size: 1rem, 4vw, 1.3rem;
      line-height: 1.7rem;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0.02em;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      font-size: 1.3rem;
      padding-top: 1.7rem; }
      .intro__content--info__note .mail {
        color: var(--primary-color);
        text-decoration: none; }
