html {
  --primary-color: #ef5da8;
  --primary-color-light: #fdeef6;
  --primary-color-dark: #170910;
  --secondary-color: #5d5fef;
  --secondary-color-light: #eeeffd;
  --secondary-color-dark: #090917;
  --tertiary-color: #7a7a7a;
  --tertiary-color-light: #f1f1f1;
  --tertiary-color-dark: #0c0c0c;
  --call-to-action: #ef5d5f;
  --regular-text: #3d3d3d;
  --bg-color: #fcfbfb; }

html[data-theme="dark"] {
  --primary-color: #ef5da8;
  --primary-color-light: #fdeef6;
  --primary-color-dark: #170910;
  --secondary-color: #5d5fef;
  --secondary-color-light: #eeeffd;
  --secondary-color-dark: #090917;
  --tertiary-color: #7a7a7a;
  --tertiary-color-light: #f1f1f1;
  --call-to-action: #ef5d5f;
  --tertiary-color-dark: #dedffb;
  --regular-text: #f1f1f1;
  --bg-color: #090917; }

@keyframes scrollDown {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0; }
  50% {
    transform: translate(-50%, 350%);
    opacity: 1; }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0; } }

* {
  box-sizing: border-box; }

html {
  background-color: var(--bg-color); }

img {
  max-width: 100%; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

/*missing alt attribute*/
img:not([alt]) {
  outline: 5px dashed red;
  outline-offset: 5px; }

/*empty alt attribute*/
img[alt=""] {
  outline: 5px solid blue;
  outline-offset: 15px; }

main {
  max-width: 900px;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

body {
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  font-family: "Open Sans", sans-serif;
  color: var(--regular-text); }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0; }

.abilities {
  margin-bottom: 4rem; }
  .abilities__content {
    width: 100%; }
    .abilities__content--title {
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-size: clamp(1.8rem, 4vw, 3.3rem);
      line-height: 3.5rem;
      color: var(--tertiary-color-dark);
      letter-spacing: 0.02em; }
      .abilities__content--title span {
        color: var(--call-to-action); }
    .abilities__content--heading {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: clamp(1.6rem, 4vw, 2.3rem);
      line-height: 28px;
      color: var(--tertiary-color-dark);
      letter-spacing: 0.03em;
      margin-bottom: 1rem; }
    .abilities__content--para {
      line-height: 3rem;
      letter-spacing: 0.02em; }

.about {
  width: 100%;
  margin-bottom: 17rem; }
  .about__title {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(2rem, 4vw, 4.8rem);
    line-height: 40px;
    color: var(--tertiary-color-dark);
    letter-spacing: 0.02em;
    font-weight: 600;
    text-align: right; }
  .about__subtitle {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1.8rem, 4vw, 3.3rem);
    line-height: 3.5rem;
    color: var(--tertiary-color-dark);
    letter-spacing: 0.02em; }
    .about__subtitle span {
      color: var(--call-to-action); }
  .about__subheading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: clamp(1.6rem, 4vw, 2.3rem);
    line-height: 28px;
    color: var(--tertiary-color-dark);
    letter-spacing: 0.03em; }
  .about__content {
    width: 722px;
    height: 390px;
    margin: 3rem auto;
    display: flex;
    align-items: end;
    justify-content: center; }
    .about__content--odometro {
      width: 142px;
      height: 142px;
      background-color: white;
      border: 5px royalblue solid;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 50%;
      cursor: pointer;
      margin-bottom: -7rem;
      position: relative; }
      .about__content--odometro__fill {
        position: absolute;
        bottom: 6.6rem;
        transform-origin: bottom;
        transform: translate(-50%);
        height: 381px;
        width: 206px;
        z-index: -1;
        clip-path: polygon(50% 100%, 0 0, 100% 0); }
        .about__content--odometro__fill:nth-child(3) {
          background-color: #5d5fef;
          transform: rotate(15deg); }
        .about__content--odometro__fill:nth-child(4) {
          background-color: #4a4cbf;
          transform: rotate(-15deg);
          height: 260px;
          z-index: -2; }
        .about__content--odometro__fill:nth-child(5) {
          background-color: #9d9ff5;
          transform: rotate(-45deg);
          height: 300px; }
        .about__content--odometro__fill:nth-child(6) {
          background-color: #25265f;
          transform: rotate(45deg);
          height: 220px;
          z-index: -2; }
        .about__content--odometro__fill:nth-child(7) {
          background-color: #dedffb;
          transform: rotate(75deg);
          height: 370px; }
        .about__content--odometro__fill:nth-child(8) {
          background-color: #ef5d5f;
          transform: rotate(-75deg); }

.footer__divider {
  border: 1px solid rgba(0, 0, 0, 0.526);
  width: 816px;
  max-width: 95%;
  position: relative; }
  .footer__divider::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2.7rem;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.526);
    top: 50%;
    transform: translate(-50%, -50%); }

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto; }
  .footer__content--mid__list {
    display: flex; }
  .footer__content--social__list {
    display: flex; }

header {
  background-color: var(--tertiary-color-dark);
  height: 990px;
  max-height: 100vh;
  width: 160rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative; }
  header .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto; }
    header .hero__logo {
      width: 180px; }
    header .hero__menu {
      display: flex;
      width: 100px;
      justify-content: space-around;
      align-items: center;
      margin-right: 8.8rem; }
      header .hero__menu--hamburguer {
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer; }
        header .hero__menu--hamburguer .line {
          background-color: #ffffff;
          height: 3.64px;
          border-radius: 5px; }
    header .hero__scroll {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 392%);
      width: 39.8px;
      height: 76px;
      border: 2px solid var(--bg-color);
      border-radius: 15px; }
      header .hero__scroll::after {
        content: "";
        position: absolute;
        width: 7.24px;
        border-radius: 50%;
        height: 7.24px;
        background-color: var(--bg-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: scrollDown;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite; }

.intro {
  padding: 16rem 0 10.4rem 0; }
  .intro__content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; }
    .intro__content--container {
      display: flex;
      justify-content: space-around;
      width: 428px;
      height: 256px; }
      .intro__content--container img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%; }
    .intro__content--info {
      flex-basis: 50%;
      height: 256px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .intro__content--info__title {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-size: clamp(1.8rem, 4vw, 3.3rem);
        line-height: 3.5rem;
        color: var(--tertiary-color-dark);
        letter-spacing: 0.02em; }
        .intro__content--info__title span {
          color: var(--call-to-action); }
      .intro__content--info__para {
        font-weight: 600;
        line-height: 2.4rem;
        letter-spacing: 0.01em; }
      .intro__content--info__note {
        font-size: 1.3rem;
        line-height: 1.7rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.02em;
        padding-top: 1.4rem;
        border-top: 1px solid rgba(0, 0, 0, 0.5); }
        .intro__content--info__note .mail {
          color: var(--primary-color);
          text-decoration: none; }
