.abilities {
   margin-bottom: 16rem;

   &-content {
      width: 100%;

      .content-title {
         @include heading-h4;
      }

      .content-heading {
         @include subheading-shd;
         margin-bottom: 1rem;
      }

      .content-para {
         @include regular-btl;
      }
   }
}
