.abilities {
   margin-bottom: 16rem;

   &-content {
      width: 100%;

      &-title {
         @include heading-h4;
      }

      &-heading {
         @include subheading-shd;
         margin-bottom: 1rem;
      }

      &-para {
         @include regular-btl;
      }
   }
}
