.about {
   width: 100%;
   margin-bottom: 17rem;

   &__title {
      @include heading-h2;
      text-align: right;
   }

   &__subtitle {
      @include heading-h4;
   }

   &__subheading {
      @include subheading-shd;
   }

   &__content {
      width: 722px;
      height: 390px;
      margin: 3rem auto;
      display: flex;
      align-items: end;
      justify-content: center;

      &--odometro {
         width: 142px;
         height: 142px;
         background-color: white;
         border: 5px royalblue solid;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         border-radius: 50%;
         cursor: pointer;
         margin-bottom: -7rem;
         position: relative;

         &__fill {
            position: absolute;
            bottom: 6.6rem;

            transform-origin: bottom;

            transform: translate(-50%);
            height: 381px;
            width: 206px;
            z-index: -1;

            clip-path: polygon(50% 100%, 0 0, 100% 0);

            &:nth-child(3) {
               background-color: #5d5fef;
               transform: rotate(15deg);
            }

            &:nth-child(4) {
               background-color: #4a4cbf;
               transform: rotate(-15deg);
               height: 260px;
               z-index: -2;
            }

            &:nth-child(5) {
               background-color: #9d9ff5;
               transform: rotate(-45deg);
               height: 300px;
            }

            &:nth-child(6) {
               background-color: #25265f;
               transform: rotate(45deg);
               height: 220px;
               z-index: -2;
            }

            &:nth-child(7) {
               background-color: #dedffb;
               transform: rotate(75deg);
               height: 370px;
            }

            &:nth-child(8) {
               background-color: #ef5d5f;
               transform: rotate(-75deg);
            }
         }
      }
   }
}
