.about {
   width: 100%;
   margin-bottom: 17rem;

   &-title {
      @include heading-h2;
      text-align: right;
      margin-bottom: 1rem;
   }

   &-subtitle {
      @include heading-h4;
   }

   &-subheading {
      @include subheading-shd;
   }

   &-content {
      width: 767px;
      height: 480px;
      margin: 2rem auto;
      display: flex;
      align-items: end;
      justify-content: center;
      position: relative;

      .content-graph {
         width: 143px;
         height: 143px;
         background: linear-gradient(#e85f64, #0a99f8);
         border-radius: 50%;
         position: relative;

         .graph-inner {
            position: absolute;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            width: 130px;
            height: 130px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 8;
            text-align: right;
         }

         .graph-percentage-icon {
            position: absolute;
            top: 30%;
            left: 70%;
            font-size: 1.9rem;
            font-weight: bold;
            z-index: 10;
         }

         // Vertical line
         &::before {
            content: "";
            background-color: rgb(0, 0, 0);
            width: 1px;
            height: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 222%);
            z-index: 9;
         }

         // The line
         &::after {
            content: "";
            position: absolute;
            width: 722px;
            height: 1px;
            background-color: rgb(0, 0, 0);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 7;
         }
      }

      .content-bars {
         position: absolute;
         width: 767px;
         height: 72px;
         z-index: -1;

         .bars-image {
            position: absolute;
            top: -178px;
            left: 32px;
            z-index: 9;

            &:nth-child(2) {
               top: -244px;
               left: 141px;
            }

            &:nth-child(3) {
               top: -249px;
               left: 261px;
            }

            &:nth-child(4) {
               top: -381px;
               left: 383px;
            }

            &:nth-child(5) {
               top: -187px;
               left: 384px;
            }

            &:nth-child(6) {
               top: -161px;
               left: 384px;
            }
         }
      }
   }
}
