.hr {
   width: 816px;
   border-top: 1px solid black;
   height: 5px;
   display: block;
   margin: 13rem auto;
   position: relative;

   &-img {
      position: absolute;
      left: 0;
      top: -42px;
   }

   &::after {
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-90%, -50%);
      position: absolute;
      height: 2.7rem;
      width: 1px;
      background-color: black;
   }
}

.footer {
   max-width: 1600px;
   width: 100%;
   padding: 6.5rem 0;
   margin: 16rem auto 0 auto;
   background-color: #eeeffd4d;
   font-family: "Montserrat", sans-serif;

   &-content {
      width: 1300px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-info {
         font-size: 1.4rem;

         &-list {
            display: flex;
            margin-bottom: 2rem;

            &-item {
               &-link {
                  font-weight: 600;
                  color: black;
                  margin-right: 4.3rem;

                  &:hover {
                     color: #4a4cbf;
                  }
               }
            }
         }

         &-para {
            font-weight: 500;
            line-height: 2.2rem;
            width: 434px;
         }
      }

      &-coder {
         display: flex;
         align-items: center;

         &-graph {
            width: 150px;
            height: 150px;
            margin-right: 3rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &-options {
               width: 32px;
               height: 32px;
               background-color: black;
               position: absolute;
               border-radius: 50%;
               color: white;
               display: flex;
               align-items: center;
               justify-content: center;
               left: -60px;
               bottom: 0;
               cursor: pointer;
               transition: scale 0.4s ease;

               &:nth-child(3) {
                  top: -5px;
               }

               &:nth-child(4) {
                  top: -50px;
                  left: 60%;
               }
            }

            &-options.active {
               transform: scale(1.1);
               background-color: #4e54ec;
               transition: scale 0.4s ease;
            }

            &-container {
               height: 210px;
               background-color: transparent;
               width: 105px;
               border-top-left-radius: 100px;
               border-bottom-left-radius: 100px;
               position: absolute;
               border: 2px solid #fcddec;
               left: -30px;
               border-right: none;

               .dots {
                  width: 5px;
                  height: 5px;
                  background-color: #f20574;
                  position: absolute;
                  bottom: -3px;
                  left: 95%;
                  border-radius: 50%;
                  transition: all 0.2s ease;
                  border: 2px solid transparent;

                  &:nth-child(2) {
                     left: 10px;
                     bottom: 45px;
                  }

                  &:nth-child(3) {
                     left: 8px;
                     top: 50px;
                  }

                  &:nth-child(4) {
                     top: -3px;
                  }
               }

               .dots.active {
                  transition: all 0.2s ease;
                  outline: 2px solid #fabad9;
               }
            }
         }

         &-info {
            width: 160px;

            h5 {
               font-size: 1.4rem;
               font-weight: 600;
               margin-bottom: 1.8rem;
            }

            span {
               font-size: 1.3rem;
            }
         }
      }
   }

   &-copy {
      width: 1300px;
      margin: 8rem auto 0 auto;
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;

      span {
         font-weight: bold;
         color: #f20574;
      }
   }
}
