.footer {
   &__divider {
      border: 1px solid rgba(0, 0, 0, 0.526);
      width: 816px;
      max-width: 95%;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         width: 2px;
         height: 2.7rem;
         left: 50%;
         background-color: rgba(0, 0, 0, 0.526);
         top: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 85%;
      margin: 0 auto;

      &--mid {
         &__list {
            display: flex;
         }
      }

      &--social {
         &__list {
            display: flex;
         }
      }
   }
}
