.footer {
   max-width: 1600px;
   margin: 0 auto;
   border: 1px solid red;

   &__divider {
      border: 1px solid rgba(0, 0, 0, 0.526);
      width: 816px;
      max-width: 95%;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         width: 2px;
         height: 2.7rem;
         left: 50%;
         background-color: rgba(0, 0, 0, 0.526);
         top: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5rem auto;
      border: 1px solid red;

      &--logo {
         border: 1px solid red;
      }

      &--mid {
         border: 1px solid red;
         display: flex;
         flex-direction: column;
         text-align: center;

         &__list {
            display: flex;
            justify-content: center;

            &--item {
               margin: 0 1rem;
            }
         }
      }

      &--social {
         border: 1px solid red;
      }
   }
}
