body {
   display: grid;
   grid-template-columns: minmax(13.8rem, 1fr) repeat(12, minmax(min-content, 9.2rem)) minmax(13.8rem, 1fr);
   grid-template-rows: repeat(6, min-content);
   grid-column-gap: 2rem;
   margin: 0 auto;
   max-width: 160rem;
}
