header {
   background-color: var(--tertiary-color-dark);
   min-height: 990px;
   max-height: 100vh;
   grid-column: 1/-1;
   grid-row: 1/2;

   .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__logo {
         width: 180px;
      }

      &__menu {
         display: flex;
         width: 100px;
         justify-content: space-around;
         align-items: center;
         margin-right: 3vw;

         &--hamburguer {
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;

            .line {
               background-color: #ffffff;
               height: 3.64px;
               border-radius: 5px;
            }
         }
      }
   }
}
