.odometro {
   &-hero {
      margin: 0 auto;
      position: relative;
      @include heading-h4;
      margin-bottom: 5rem;
      font-size: 2.8rem;
      width: max-content;

      &::before {
         content: " 0110100";
         position: absolute;
         top: 0;
         left: -80px;
         color: #878787;
         font-size: 1.6rem;
         font-weight: 500;
      }

      &::after {
         content: " 0101001";
         position: absolute;
         top: 0;
         right: -80px;
         color: #878787;
         font-size: 1.6rem;
         font-weight: 500;
      }
   }

   &-content {
      width: 530px;
      margin: 0 auto;

      .content-top {
         margin: 0 auto 7rem auto;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .top-section {
            display: flex;
            flex-direction: column;

            span {
               font-size: 1.2rem;
            }

            .digit {
               color: #5d5fef;
               font-weight: 500;
               font-size: 3.4rem;
               line-height: 4.1rem;
            }
         }

         .section-hours {
            .year {
               position: relative;

               &::after {
                  content: "2022";
                  position: absolute;
                  top: -70px;
                  font-weight: bold;
                  left: 0;
               }
            }
         }
      }

      .scroll-slides {
         width: 380px;
         margin: 0 auto;
         height: 60px;
         font-size: 1.2rem;

         .slides-progress {
            width: 380px;
            height: 6px;
            background-color: gray;
            display: flex;

            .progress-element {
               flex: 1;
            }

            .progress-element.active {
               background-color: red;
            }
         }

         .slides-boxes {
            width: 100%;

            .boxes-box {
               height: 40px;
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               border: 1px solid #ef5da8;

               img {
                  margin-left: 2rem;
               }
            }

            .boxes-teacher {
               margin-top: 2rem;
               margin-left: 4rem;
            }
         }
      }
   }
}
