.odometro {
   &-hero {
      margin: 0 auto;
      position: relative;
      @include heading-h4;
      margin-bottom: 5rem;
      font-size: 2.8rem;
      width: max-content;

      &::before {
         content: " 0110100";
         position: absolute;
         top: 0;
         left: -80px;
         color: #878787;
         font-size: 1.6rem;
         font-weight: 500;
      }

      &::after {
         content: " 0101001";
         position: absolute;
         top: 0;
         right: -80px;
         color: #878787;
         font-size: 1.6rem;
         font-weight: 500;
      }
   }

   &-content {
      width: 530px;
      margin: 0 auto;

      &-top {
         margin: 0 auto 7rem auto;
         display: flex;
         justify-content: space-between;
         align-items: center;

         &-section {
            display: flex;
            flex-direction: column;

            &-digit {
               color: #5d5fef;
               font-weight: 500;
               font-size: 3.4rem;
               line-height: 4.1rem;
            }

            span {
               font-size: 1.2rem;
            }
         }

         .section-hours {
            .year {
               position: relative;

               &::after {
                  content: "2022";
                  position: absolute;
                  top: -70px;
                  font-weight: bold;
                  left: 0;
               }
            }
         }
      }

      &-slides {
         width: 380px;
         margin: 0 auto;
         height: 60px;
         font-size: 1.2rem;
         position: relative;

         &-counter {
            text-align: center;
            margin-bottom: 1.7rem;
            font-weight: bold;
            font-size: 1.2rem;
         }

         &-progress {
            width: 380px;
            height: 6px;
            background-color: gray;
            display: flex;

            &-element {
               flex: 1;

               &.active {
                  background-color: #f20574;
                  transition: all 0.4s ease-in-out;
               }
            }
         }

         &-container {
            padding: 1rem 0;
            overflow: hidden;
            display: flex;
            justify-content: space-between;

            &-wrapper {
               width: 380px;
               transition: all 0.4s ease;
               display: flex;

               &-boxes {
                  min-width: 100%;

                  &-box {
                     display: flex;
                     width: 100%;
                     justify-content: center;
                     padding: 1rem 0;
                     align-items: center;
                     margin-bottom: 2rem;
                     border: 1px solid #ef5da8;

                     img {
                        margin-left: 2rem;
                     }
                  }

                  &-teacher {
                     margin-left: 3rem;
                  }
               }
            }
         }

         &-btn {
            position: absolute;
            border: none;
            background: transparent;
            font-size: 3rem;
            opacity: 50%;
            animation-name: scaling;
            animation-timing-function: ease;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            top: 80%;
            cursor: pointer;
         }

         .prev {
            left: -40px;
         }

         .next {
            right: -40px;
         }
      }
   }
}

@keyframes scaling {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.4);
   }

   100% {
      transform: scale(1);
   }
}
