.sidebar {
   position: sticky;
   top: 50px;
   margin-top: 1030px;
   height: 173px;
   width: 53px;
   border-radius: 25px;
   border: 1px solid #f20574;
   display: flex;
   justify-content: center;

   &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--item {
         margin: 0.6rem 0;

         &__link {
            color: black;
         }
      }

      .pipe {
         height: 57px;
         width: 1px;
         background-color: black;
      }

      .stay {
         margin: 5rem 0;
         font-size: 1.4rem;
         width: 110px;
         font-weight: bold;
         text-align: center;
         transform: rotate(-90deg);
      }
   }
}
