.sidebar {
   border-radius: 25px;
   border: 1px solid #f20574;
   display: flex;
   height: 173px;
   justify-content: center;
   margin-left: -54px;
   margin-top: 1030px;
   position: sticky;
   top: 10px;
   width: 53px;

   &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 13px;
      height: 13px;
      background-color: #5d5fef;
      border-radius: 50%;
   }

   &::before {
      content: "";
      position: absolute;
      bottom: -35px;
      width: 13px;
      height: 13px;
      border: 1px solid #f20574;
      border-radius: 50%;
   }

   &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-item {
         margin: 0.6rem 0;

         &-link {
            color: black;
         }
      }
   }
}
