.sidebar {
   position: sticky;
   top: 50px;
   margin-top: 400px;
   height: 400px;

   &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--item {
         margin: 1rem 0;
      }
   }
}
