* {
   box-sizing: border-box;
}

html {
   background-color: var(--bg-color);
}

img {
   max-width: 100%;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

/*missing alt attribute*/
img:not([alt]) {
   outline: 5px dashed red;
   outline-offset: 5px;
}

/*empty alt attribute*/
img[alt=""] {
   outline: 5px solid blue;
   outline-offset: 15px;
}

.wrapper {
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
}

main {
   max-width: 1156px;
   margin: 0 auto;
   padding: 0 clamp(0.5rem, 40vh, 15rem);
}
