html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: "Open Sans", sans-serif;
   color: var(--regular-text);
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
