html {
   font-size: 62.5%;
}

body {
   font-size: clamp(1.4rem, 4vw, 1.6rem);
   font-family: "Open Sans", sans-serif;
   color: var(--regular-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}
